/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none; 
}


body {
    font-family: 'oswald', sans-serif;
    font-weight: 300;
    color :#3a3a3a;
}

/* heading and logo */

#bread-img {
    height: 500px;
    width: 100%;
    background: url(/assets/images/Surdeg_1.jpeg) no-repeat center;
    position: relative;
    background-size: cover;
}

.container {
    margin: 20px;
    width: auto;
    
}


.nav-bar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, .3);
    list-style-type: none;
    float: right;
}

.nav-bar a {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    padding: 5px 5px;
    display: inline;
    float: right;
    margin-right: 15px;
    text-align: right;
}

.active {
    border-bottom: 1px solid #fff;
}

.nav-bar a:hover {
    background-color: #3a3a3a;
    color: #fff;
}





